<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}" 
	th:fragment="messageError">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
	<th:block th:each="detailedErrors : ${#fields.detailedErrors()}">
		<div><i class="fa  fa-exclamation-circle"></i> [[${detailedErrors.message}]]</div>
	</th:block>
</div>

</html>